<mdc-tab-bar (activated)="changeContent($event)">
  <mdc-tab-scroller>
    <mdc-tab *ngFor="let tab of tabList" [label]="tab"></mdc-tab>
  </mdc-tab-scroller>
</mdc-tab-bar>

<ng-container *ngFor="let item of currentPostList">
  <app-new-headline [content]="item" (click)="postSelection(item)"></app-new-headline>
  <mdc-list-divider padded="False"></mdc-list-divider>
</ng-container>

<div class="lastRow">
  <button mdc-fab extended="True" label="Ver mais">
    <mdc-icon>add</mdc-icon>
  </button>
</div>
