<style>
  mdc-card {
      padding: 16px;
  }
  form {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0.3em;
  }
</style>

<mdc-card>
  <form [formGroup]="loginForm" (ngSubmit)="validate()">
    <mdc-form-field>
      <mdc-text-field outlined required
		      formControlName="username"
		      label="Username"
		      [helperText]="usernameHelper"
		      minlength="3"></mdc-text-field>
      <mdc-text-field-helper-text #usernameHelper="mdcHelperText" validation>
	<span *ngIf="loginForm.controls['username'].errors?.required">Username is required</span>
	<span *ngIf="loginForm.controls['username'].errors?.minlength">Username is not long enough</span>
      </mdc-text-field-helper-text>
    </mdc-form-field>
    <br/>

    <mdc-form-field>
      <mdc-text-field outlined required
		      formControlName="password"
		      label="Password"
		      [helperText]="passwordHelper"
		      minlength="3"
		      type="password"></mdc-text-field>
      <mdc-text-field-helper-text #passwordHelper="mdcHelperText" validation>
	<span *ngIf="loginForm.controls['password'].errors?.required">Password is required</span>
	<span *ngIf="loginForm.controls['password'].errors?.minlength">Password is not long enough</span>
      </mdc-text-field-helper-text>
    </mdc-form-field>
    <br/>

    <button mdc-button outlined type="submit">Login</button>
  </form>
</mdc-card>
