<footer mdcTypography>
  <h1 mdcHeadline6 class="category-header"><i class="material-icons">contact_support</i>Dúvidas?</h1>
  <h1 mdcBody1>Caso ainda tenha alguma dúvida, entre em contato nos nossos canais oficiais:</h1>

  <div class="contact">
    <button mdc-button outlined (click)="sendMail()"><mdc-icon>mail_outline</mdc-icon>E-mail</button>
    <button mdc-button outlined (click)="openFacebookPage()"><mdc-icon fontSet="fa" fontIcon="fa-facebook-f"></mdc-icon>Facebook</button>
  </div>
</footer>
