<app-student-card-search></app-student-card-search>

<div mdcTypography>
  <h1 mdcHeadline6 class="category-header"><i class="material-icons">help_outline</i>FAQ</h1>
  <h1 mdcBody2>Quer fazer sua carteirinha, mas está com alguma dúvida sobre o processo?
    Fizemos esse FAQ para tentar tirar as dúvidas sobre a carteirinha!
  </h1>

  <h1 mdcHeadline6>Quais são as etapas necessárias para solicitar a carteirinha?</h1>
  <h1 mdcBody1>Para receber a sua carteirinha são necessários 3 passos:</h1>
  <ol>
    <li>Solicitar a carteira no site da Etufor;</li>
    <li>Entregar a documentação necessária;</li>
    <li>Realizar cadastro da biometria.</li>
  </ol>

  <h1 mdcHeadline6>Como eu solicito a carteirinha?</h1>
  <h1 mdcBody1>Preencha seus dados no site http://www.etufor.ce.gov.br/sugest_web/wbfMovSolicitarCarteira.aspx</h1>

  <h1 mdcHeadline6>Quais são os documentos necessários?</h1>
  <h1 mdcBody1>Cópia do documento com foto e declaração de matrícula do semestre atual.</h1>

  <h1 mdcHeadline6>Onde entregar esses documentos e realizar a biometria?</h1>
  <h1 mdcBody1>Você pode entregar esses documentos ao CA ou à própria Etufor.<br>
    Um membro do CA é responsável de levar os documentos dos alunos até a Etufor,
    sem que os alunos precisem se deslocar do seu trajeto.<br>
    Caso você queira, entretanto, você pode levar pessoalmente os documentos aos seguintes postos de atendimento:
    terminais de integração Parangaba, Siqueira, Papicu, praça Coração de Jesus ou sedes do Sindiônibus e Etufor,
    além da unidade do Vapt Vupt de Messejana e Antônio Bezerra e no Shopping Riomar Kennedy.<br>
    A biometria é realizada nos mesmos locais.</h1>

  <h1 mdcHeadline6>É necessário refazer a biometria, caso já tenha feito anteriormente?</h1>
  <h1 mdcBody1>Não. A biometria só é necessária uma vez.</h1>

  <h1 mdcHeadline6>Quais são os horários de funcionamento dos locais?</h1>
  <ul>
    <li>Sede da Etufor: das 8h às 16:30h;</li>
    <li>Vapt-vupt: das 8h às 17h;</li>
    <li>Shopping RioMar Kennedy: das 8h às 18h.</li>
  </ul>

  <h1 mdcHeadline6>Quanto tempo demora para a carteirinha ficar pronta?</h1>
  <h1 mdcBody1>A Etufor dá uma estimativa de 30 dias úteis para a carteirinha ficar pronta.<br>
    De qualquer forma, é possível acompanhar como está o andamento da sua solicitação
    pelo site: http://www.etufor.ce.gov.br/consultasolicitacao.asp</h1>
  
  <h1 mdcHeadline6>No site está falando que a carteirinha foi entregue à entidade estudantil, ela já está disponível para buscar?</h1>
  <h1 mdcBody1>Não necessariamente. Esse aviso significa que ela foi entregue à entidade responsável por fabricar a carteirinha.</h1>

  <h1 mdcHeadline6>Onde devo buscar a carteirinha?</h1>
  <h1 mdcBody1>Após a fabricação da carteirinha ela é levada ao DCE. Você pode buscar diretamente
    no local ou pode esperar que o CA pegue carteinhas e traga até a sala do CA, onde você pode
    pegar com mais facilidade.</h1>

  <h1 mdcHeadline6>Preciso levar algum documento para retirar a carteirinha?</h1>
  <h1 mdcBody1>Leve um documento com foto para confirmar a identidade na hora de buscar a carteirinha.</h1>

  <app-helping-footer subject="Dúvidas sobre a carteirinha"></app-helping-footer>
</div>
