@import '@angular-mdc/theme/material';

.cancel {
  @include mdc-button-ink-color(red);
  @include mdc-states(red);
}

mdc-text-field, footer {
    margin-bottom: 1em;
}

footer {
    float: right;
}

:host ::ng-deep .ck-editor__editable {
    min-height: 60vh !important;
    margin-bottom: 1em;
}
