<form #studentCard mdcTypography style="padding: 0.5em" (ngSubmit)="findCard(studentCard, $event)">

  <div>
    <h1 mdcHeadline6>Checar carteirinha</h1>
    <h1 mdcBody2>Digite abaixo sua matrícula para saber se sua carteirinha já se encontra no CA :D</h1>

    <div style="text-align: center;">
      <mdc-text-field #reg outlined
		      [(ngModel)]="register"
		      [ngModelOptions]="{standalone: true}"
		      label="Matrícula"
		      maxlength="6"
		      pattern="[0-9][0-9][0-9][0-9][0-9][0-9]">
	<mdc-icon leading>person</mdc-icon>
      </mdc-text-field>
    </div>
  </div>
  <div style="text-align: center">
    <h1 mdcBody1>Procurando por {{register}}</h1>
    <mdc-linear-progress #lp secondary="true" style="width: 50%; margin: 0 auto;"></mdc-linear-progress>
  </div>
  <div>
    <h1 mdcHeadline6>{{register}}:
      <span style="color: green">Disponível</span>
    </h1>
    <h1 mdcBody1>A sua carteirinha já está no CA. Deseja agendar horário para resgatá-la?</h1>
    <div style="text-align: center;">
      <mdc-text-field
	outlined
	type="date"
	value="2018-09-30"
	min="2018-09-30"
	max="2018-12-30"></mdc-text-field>
      <mdc-text-field
	outlined
	type="time"
	value="14:00"
	min="10:00"
	max="22:00"></mdc-text-field>
    </div>
    <div style="display: block; text-align: center; margin-top: 1em;">
      <button mdc-button dense style="color: darkred">Cancelar</button>
      <button mdc-button dense raised>Agendar</button>
    </div>
  </div>
</form>
