<div class="constructionGrid">
  <!-- Header -->
  <img src="./assets/logoSMD.svg" class="logo">
  <h1 class="mat-display-2 accent-color" align="center">Página em construção</h1>
  <!-- /Header -->
  
  <!-- Task list -->
  <mat-card class="taskList">
    <mat-list>
      <mat-list-item *ngFor="let task of taskList">
	<mat-icon matListIcon *ngIf="task.state==2; else taskUndone" color="accent">check_box</mat-icon>
	<ng-template #taskUndone>
	  <mat-icon matListIcon>check_box_outline_blank</mat-icon>
	</ng-template>
	<h3 matLine> {{task.label}} </h3>
	<p matLine>
	  <span class="mat-caption">{{task.description}}</span>
	</p>
      </mat-list-item>
    </mat-list>
  </mat-card>
    <!-- /Task list -->
</div>
