@import '../../../app-theme';

table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    padding: 8px;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $mdc-theme-primary;
    color: white;
}

.action {
    text-align: center;
}
