<mdc-top-app-bar #appbar short [fixedAdjustElement]="mainContent">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="CASMD">
      <mdc-icon mdcTopAppBarNavIcon (click)="drawer.open()">menu</mdc-icon>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
      <img src="./assets/LogoCA.svg" mdcTopAppBarActionItem>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>

<mdc-drawer drawer="modal" #drawer>
  <mdc-drawer-header>
    <h3 mdcDrawerTitle>Drawer Title</h3>
    <h6 mdcDrawerSubtitle>Subtitle</h6>
  </mdc-drawer-header>
  <mdc-drawer-content>
    <mdc-list useActivatedClass>
      <mdc-list-item *ngFor="let item of menu" [routerLink]="item.href" (click)="drawer.close()">
	<mdc-icon mdcListItemGraphic *ngIf="item.icon">{{item.icon}}</mdc-icon>{{item.label}}
      </mdc-list-item>
    </mdc-list>
  </mdc-drawer-content>
</mdc-drawer>

<div #mainContent>
  <router-outlet></router-outlet>
</div>
