@import '../../app-theme';

.headline {
    padding-left: 1em;
    padding-right: 1em;
}
.hashtag {
    margin-bottom: 4px;
    color: $mdc-theme-secondary;
    text-shadow: 0px 0px 1px #00000024;
}
.title {
    margin-top: 4px;
    margin-bottom: 4px;
}
.subtitle {
    margin-top: 4px;
}
.date {
    color: #bbbbbb
}
