@import '@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-light-blue);
$accent:  mat-palette($mat-amber);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

/* -------------------------------------------------------------------------------- */
$mdc-theme-primary:   #363640; // change primary color example
$mdc-theme-secondary: #00e595; // change secondary color example

@import "@angular-mdc/theme/material";
