@import './app-theme';
@import "~@angular-mdc/theme/material";

// Typography
@import url('https://fonts.googleapis.com/css?family=Merriweather');

html, body {
    overflow-x: hidden;
}

mdc-drawer {
    top: 0;
}

.accent-color {
    color: mat-color($accent) !important;
}
.category-header {
    color: $mdc-theme-secondary !important;
    text-shadow: 0px 0px 1px #00000024;
}
.category-header > .material-icons {
    vertical-align: sub;
    margin-right: 0.2em;
}
.topFab {
    @include mdc-fab-shape-radius(4px 28px 28px 28px);
}
.bottomFab {
    @include mdc-fab-shape-radius(28px 28px 4px 28px);
}

// Loading-------------------------------------------------------------------------
@keyframes loadingAnimation {
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.loading {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: loadingAnimation;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    position: relative;
    overflow: hidden;
    color: transparent !important;
    border-radius: 0.2em;
    width: fit-content;
    min-width: 5em !important;
    text-shadow: none !important;
}
