/* You can add global styles to this file, and also import other style files */
@import './app-theme';

body {
    margin: 0px;
}

mdc-drawer {
    top: 0;
}

.accent-color {
    color: mat-color($accent) !important;
}
