/* Mobile screens */
header, main {
    width: 100%;
}

/* For big screens */
@media only screen and (min-width: 768px) {
    header {
	width: 80vw;
	margin: 16px auto;
    }

    main {
	width: 90vw;
	margin: 0 auto;
    }
}
