@import "~@angular-mdc/theme/material";

.temp {
    width: 100%;
    height: calc(56.25vw + 56px);
    background-image: url('https://material-components-web.appspot.com/images/photos/3x2/16.jpg');
    margin-top: -56px !important;
}
.topFab {
    @include mdc-fab-shape-radius(0 28px 28px 28px);
    transform: translateY(-50%);
    margin: 0 16px;
    float: right;
}

.bottomFab {
    @include mdc-fab-shape-radius(28px 28px 0 28px);
}

.description {
    margin: 8px;
    margin-top: 36px;
}
