<form #studentCard mdcTypography (ngSubmit)="findCard(studentCard, $event)">
  <h1 mdcHeadline6 class="category-header"><i class="material-icons">pageview</i>Checar Carteirinha</h1>
  
  <div *ngIf="state==1">
    <h1 mdcBody2>Digite abaixo sua matrícula para saber se sua carteirinha já se encontra no CA :D</h1>

    <div style="text-align: center;">
      <mdc-text-field #reg outlined
		      [(ngModel)]="register"
		      [ngModelOptions]="{standalone: true}"
		      label="Matrícula"
		      maxlength="6"
		      pattern="[0-9][0-9][0-9][0-9][0-9][0-9]">
	<mdc-icon mdcTextFieldIcon leading>person</mdc-icon>
      </mdc-text-field>
    </div>
  </div>
  
  <div *ngIf="state==2">
    <p>Procurando</p>
    <mdc-linear-progress determinate="false"></mdc-linear-progress>
  </div>

  <div *ngIf="state==3">
    <h1 mdcHeadline6>{{register}}:
      <span [style.color]="scResult?'green':'red'">{{scResult?"Disponível":"Indisponível"}}</span>
    </h1>

    <!-- Found -->
    <div *ngIf="scResult; else noResult">
      <h1 mdcBody1>Sua carteirinha de {{scResult.relativeTo}} já está conosco!!!</h1>
      <div style="text-align: end;">
	<button mdc-button dense raised (click)="cancel()">Voltar</button>
      </div>
    </div>
    <!-- /Found -->

    <!-- Not Found -->
    <ng-template #noResult>
      <h1 mdcBody1>Infelizmente sua carteirinha ainda não está conosco.</h1>
      <div style="text-align: end;">
	<button mdc-button dense raised (click)="cancel()">Voltar</button>
      </div>
    </ng-template>
    <!-- /Not Found -->
  </div>

</form>
